.header{
    position: sticky;
    top:0px;
    background-color: #ffffff;
}
.LogoArea{
    display: flex;
    align-items: center;
}
.Logo{
    height: 80px;
    width: 80px;
}
.Logo img{
    height: 100%;
    width: 100%;
}
.LogoName{
    color: #009688;
    font-weight: 900;
    font-size: 30px;
}