*{
    padding: 0;
    margin: 0;
}
.MainPage{
    display: flex;
    align-items: center;
    margin-top: 40px;
}
.bodyArea{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50vw;
    padding-left: 50px;
}
.preHeader{
    font-size: 18px;
    font-weight: 400;
    color: #949db0;
}
.mainHeader{
    font-weight: 800;
    font-size: 46px;
    line-height: 64px;
    color: #293745;
    margin-bottom: 30px;
}
.subHeaderSection{
    display: flex;
    align-items: center;
}
.design{
    width: 60%;
}
.design img{
    height: 100%;
    width: 100%;  
}
.subHeader{
    font-family: lato,sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #798297;
    display: inline-block;
    transform: translateY(-8px);
    margin-left: 12px;
}
.details{
    margin-top: 90px;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.whoAreWeArea{
    margin-top: 20px;
    width: 100vw;
    background-color: #2b3140;
    padding: 65px 0px 0px 0px;
    display: flex;
    align-items: center;
}
.bannerifyBody{
    width:50%;
    padding-left: 50px;
}
.bannerifyPreHeader{
    font-family: lato,sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-align: left;
    color: #009688;
    display: block;
    margin-bottom: 8px;
}
.bannerifyHeader{
    font-weight: 800;
    font-size: 44px;
    line-height: 56px;
    text-align: left;
    color: #f8fafb;
    margin-bottom: 20px;
}
.bannerifyHeader span{
    color: #009688;
}
.bannerifyPara{
    font-family: lato,sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    text-align: left;
    color: #bbd0e5!important;
    margin-bottom: 40px;
    width: 86%;
}
.subPara{
    font-family: lato,sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    text-align: left;
    color: #bbd0e5!important;
    margin-bottom: 40px;
    width: 86%;
}
.bannerifyImage{
    width:50%;
}
.featureArea{
    margin-bottom:80px;
}
.properties{
    margin: 0px 110px;
}
.propertiesPreHeader{
    font-family: lato,sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-align: left;
    color: #009688;
    display: block;
    margin-bottom: 8px;
}
.propertiesHeader{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.propertiesHeaderText{
    font-weight: 800;
    font-size: 44px;
    line-height: 56px;
    text-align: left;
    color: #293745;
    margin-bottom: 20px;
}
.propertiesHeaderText span{
    color: #009688;
}
.propertiesImage img{
    width: 255px;
}
