.propertyArea{
    display: flex;
    border-bottom: 1px solid #dae4ea;
    margin-bottom: 20px;
    align-items: flex-start;
}
.ImageArea{
    margin-right: 30px;
}
.Image{
    height: 104px;
    width: 104px;
}
.propertyBody{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: flex-start;
}
.propertyNumber{
    font-size: 34px;
    left: 120px;
    color: #009688;
    font-weight: 700;
}
.propertyText{
    font-family: lato,sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: #293745;
}