<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>Certificates</h2>
    <label for="1">1</label>
    <input type="radio" value="1" name="certificate" id="1" />
    <label for="2">2</label>
    <input type="radio" value="2" name="certificate" id="2" />
    <label for="3">3</label>
    <input type="radio" value="3" name="certificate" id="3" />
    <label for="4">4</label>
    <input type="radio" value="4" name="certificate" id="4" />
    <button id="button">button</button>
  </body>
  <script>
    const button = document.getElementById('button')
    button.onclick = function(){
        sendData();
    }
    const sendData = async () => {
        const value1 = document.getElementById('1')
        const value2 = document.getElementById('2')
        const value3 = document.getElementById('3')
        const value4 = document.getElementById('4')

        let selected = null
        if (value1.checked){
            selected = value1.value
        }
        else if (value2.checked){
            selected = value2.value
        }
        else if (value3.checked){
            selected = value3.value
        }
        else if (value4.checked){
            selected = value4.value
        }
        const Response2 = await fetch("/certificates", {
            method: "POST",
            headers: {
              "content-type": "application/json",
            },
            body: JSON.stringify({'selected': selected}),
        });

        console.log({'selected': selected});
    }
  </script>
</html>
