<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2 style="text-align: center">Form</h2>
    <div>
        <div class="mb-3">
        <label for="eventid" class="form-label">Event Id</label>
        <input type="text" name="" id="eventid" required />
      </div>
        <div class="mb-3">
        <label for="eventname" class="form-label">Event Name</label>
        <input type="text" name="" id="eventname" required />
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" name="" id="email" required />
      </div>
      <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" name="" id="name"  />
      </div>
        <div class="mb-3">
        <label for="pronoun" class="form-label">Pronoun (his/her)</label>
        <input type="text" name="" id="pronoun"  />
      </div>
      <div class="mb-3">
        <label for="phone" class="form-label">Phone</label>
        <input type="text" name="" id="phone" required />
      </div>
      <div class="mb-3">
        <label for="address" class="form-label">Address</label>
        <textarea name="" id="address" rows="3" required ></textarea>
      </div>
    <button id="button2">Submit</button>
    </div>
</body>
<script>
    const button2 = document.getElementById("button2");
    button2.onclick = function () {
        sendData();
    };
    const sendData = async () => {
        const eventid = document.getElementById("eventid").value;
        const eventname = document.getElementById("eventname").value;
        const email = document.getElementById("email").value;
        const phone = document.getElementById("phone").value;
        const pronoun = document.getElementById("pronoun").value;
        const name = document.getElementById("name").value;
        const address = document.getElementById("address").value;
        const Response = await fetch("/checkout", {
            method: "POST",
            headers: {
                "content-type": "application/json",
            },
            body: JSON.stringify({
                eventid:eventid,
                eventname:eventname,
                email: email,
                phone: phone,
                pronoun: pronoun,
                name: name,
                address: address,
            }),
        });
        // console.log({'participant':{
        //         eventid: eventid,
        //         eventname: eventname,
        //         email: email,
        //         phone: phone,
        //         pronoun: pronoun
        //         name: name,
        //         address: address,
        //     }})
        const Data = Response.json();
    };
</script>
</html>